html,
body {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  background: #2c3e50;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: #000000;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p,
ol,
ul {
  margin-top: 0;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

p {
  line-height: 180%;
}

a {
  color: #2980b9;
}

a:hover {
  text-decoration: none;
}

.container {
  overflow: hidden;
  margin: 0em auto;
  width: 1000px;
}
#boxA {
  width: 400px;
  height: 400px;
  margin: 0;
  padding: 0;
}
#wrapper {
  background: #fff;
}

#header-wrapper {
  background: url(/images/pisine.jpg) no-repeat center;

  background-size: contain;
  background-repeat: repeat;
}

#header {
  position: relative;
  padding: 10em 0em;
}

#logo h1 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em 1em;
  background: #3498db;
  border-radius: 0px 0px 5px 5px;
}

#logo a {
  text-decoration: none;
  color: #fff;
}

#menu {
  position: absolute;
  top: 4em;
  right: 0;
}

#menu ul {
  display: inline-block;
  padding: 1em 0em;
  background: #3498db;
  border-radius: 5px;
}

#menu li {
  display: block;
  float: left;
  text-align: center;
}

#menu li a,
#menu li span {
  padding: 1em 1.5em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  color: #fff;
}

#copyright {
  overflow: hidden;
  padding: 5em 0em;
}

#copyright p {
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.6);
}

#copyright a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.title {
  margin-bottom: 3em;
  text-transform: uppercase;
}

#staff {
  padding: 5em 0em;
}

.content {
  width: 1000px;
  margin: 0 auto;
}

.content h2 {
  margin: 0;
  padding: 25px 0;
  font-size: 22px;
  border-bottom: 1px solid #ebebeb;
  color: #666666;
}

.read .pagination {
  display: flex;
  justify-content: flex-end;
}

.read .pagination a {
  display: inline-block;
  text-decoration: none;
  background-color: #a5a7a9;
  font-weight: bold;
  color: #ffffff;
  padding: 15px 15px;
  margin: 15px 0 15px 5px;
}

.read .pagination a:hover {
  background-color: #99999d;
}

.read table {
  width: 100%;
  padding-top: 30px;
  border-collapse: collapse;
}

.read table thead {
  background-color: #ebeef1;
  border-bottom: 1px solid #d3dae0;
}

.read table thead td {
  padding: 10px;
  font-weight: bold;
  color: #767779;
  font-size: 14px;
}

.read table tbody tr {
  border-bottom: 1px solid #d3dae0;
}

.read table tbody tr:nth-child(even) {
  background-color: #fbfcfc;
}

.read table tbody tr:hover {
  background-color: #376ab7;
}

.read table tbody tr:hover td {
  color: #ffffff;
}

.read table tbody tr:hover td:nth-child(1) {
  color: #ffffff;
}

.read table tbody tr td {
  padding: 10px;
}

.read table tbody tr td:nth-child(1) {
  color: #a5a7a9;
}

